 <div class="row">
    <div class="col s12 m6 offset-m3">
      <div class="card orange lighten-5 ">
        <div class="card-content black-text">
        <%= simple_format(tweet.text) %>
        </div>
        <div class="card-action">
        <% if user_signed_in? && current_user.id == tweet.user_id %>
        <%= link_to 'Delete', "/tweets/#{tweet.id}", method: :delete %>
        <%= link_to 'Edit', "/tweets/#{tweet.id}/edit", method: :get %>
        <% end %>
 
        </div>
      </div>
    </div>
  </div>