<div class="row" style="padding-top: 50px;">
  <div class="col s12 m6 offset-m3">
    <h6>New post</h6>
      <form action='/tweets' accept-charaset="UFT-8" method="post">
          <label for="message">Text</label>
          <textarea type="text" name="text"></textarea>
          <input type="submit" value="Creat Post">
      </form>
  </div>
</div>










