<!DOCTYPE html>
<html>
<head>
  <title>MiniAppli</title>
  <style type="text/css" href="./style.css"></style>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <header>
    <nav class="brown lighten">
      <div class="nav-wrapper">
        <div class="center-align">
          <a href="/tweets" class="brand-logo">MiniAppli</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <% if user_signed_in? %>
        <div class="user_nav grid-6">
        <li><a class="post" href="/tweets/new">New</a></li>

        <li><%= link_to "Sign out", destroy_user_session_path,method: :delete %></li>
        </div>
      <% else %>
        <div class="grid-6">
          <li><%= link_to "ログイン", new_user_session_path, class: 'post' %></li>
          <li><%= link_to "新規登録", new_user_registration_path, class: 'post' %></li>
        </div>
      <% end %>
          </ul>
        </div> 
      </div>
    </nav>
  </header> 

  <%= yield %>

<script type="text/javascript" src="./app.js"></script>
<footer></footer>
</body>
</html>